.container{
    background-color:#1F2937;
    
    padding: 0px 150px 100px 150px;
   
}

.item1,.item2{
    display: flex;
    justify-content: space-between;
}
.item2{
    margin-top: 40px;
    gap:20px;
}

.item1>div,.item2>div{
    flex:1;
}
.item1 .logo{
    font-size: 24px;
    color:#F9FAF8;
}
.lin {
    display:flex;
    padding: 20px 0;
    align-items: center;
    justify-content: flex-end;
    gap:10px
}
.lin a{
margin-left:10px;
font-size: 18px;
color: #E5E7EB;
}

.place{
   
    background-color: rgb(173, 169, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.place>p{
    flex:auto;
    font-size: 14px;

}

.tete>p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
}
.tete>h2{
    font-size: 48px;
    color:#F9FAF8;
    display:inline;
}
.item2 .btn{
    padding: 5px 30px 5px 30px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    color:white;
    font-size: 14px;
    font-weight: bold;
}

.info{
    padding: 0 0 100px 0;
}
.info>h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.box{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box .box1{
    
    max-width: 130px;
}


.box1 .form1{
    height: 130px;
    max-width: 130px;
    border:3px solid #3882F6;
    border-radius: 15px;

}
.box1 .info1{
    font-size: 12px;
    text-align: center;
}

.quote{
    background-color: #E5E7EB;
    padding: 100px 185px;
    display: flex;
    flex-direction: column;
}
.quote .qtext{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote .qauthor{
    align-self: flex-end;
    margin: -40px 40px 0 0;
    font-size: 20px;
}

.action{
    padding:100px 200px;
}

.signup{
    background-color: #3882F6;
    display: flex;
    border-radius: 15px;
}

.call .sign{
    margin-top: -15px;
    font-size: 14px;
    color:azure;
}
.call .calla{
    color: #F9FAF8;
    font-size: 20px;
}
.signup .call,.signup .callb{
    margin: 20px auto;
}
.callb .btn1{
    padding: 5px 30px 5px 30px;
    background-color: #3882F6;
    border-radius: 8px;
    border:2px solid#F9FAF8;
    color:white;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}

.cpright{
    background-color:#1F2937;
    padding: 10px 0;
    text-align: center;
    color: #F9FAF8;
}